.kanji-card {
  max-width: 800px;
  width: 100%;
  background-color: #555555;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 8px;
  display: block;
}

.kanji-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.kanji-row-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 80%;
}

.kanji {
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: white;
}

.kanji-meanings {
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: white;
}
